<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-3">
    <a [routerLink]="['/control-panel', 'forums']">Forums</a> /
    <a [routerLink]="['/control-panel', 'forums', 'board', board?.id || 0]">{{
      board?.title | titlecase
    }}</a>
    / {{ thread?.title | titlecase }}
  </h6>
  <h1>{{ thread?.title | titlecase }}</h1>
  <app-user-block [user]="thread?.author"></app-user-block>
  {{ thread?.content }}
</div>

<div
  *ngFor="let comment of thread?.comments"
  class="my-3 p-3 bg-white rounded shadow-sm"
>
  <app-user-block [user]="comment.author"></app-user-block>
  {{ comment.content }}
</div>
<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h2>Comment</h2>
  <textarea
    [(ngModel)]="content"
    class="form-control"
    placeholder="Reply to thread..."
    maxlength="140"
  >
        {{ content }}
      </textarea
  >
  <span
    class="pt-1 mb-2 d-block text-right small"
    [ngClass]="{
      'text-muted': content.length < 120,
      'text-danger': content.length >= 120
    }"
  >
    {{ content.length }}/140
  </span>
  <app-action-button>Comment</app-action-button>
</div>
