.form-signin {
  margin: auto;

  h1 {
    text-align: center;
    font-size: 1.25rem;
  }

  input,
  .form-control {
    &:focus,
    &:active {
      outline: 0;
      box-shadow: none;
    }
  }

  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 1rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
