<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-3">
    Staff Sign-in
  </h6>
  <form class="form-signin">
    <div class="row">
      <div class="mx-auto col-md-5">
        <h1 class="mt-1 mb-3">Sign in to Aerie Journal</h1>
        <label class="sr-only" for="inputEmail">Email Address</label>
        <input
          id="inputEmail"
          class="form-control"
          type="email"
          placeholder="Email address"
          required
        />
        <label class="sr-only" for="inputPassword">Password</label>
        <input
          id="inputPassword"
          class="form-control"
          type="password"
          placeholder="Password"
          required
        />
        <app-action-button type="success" (perform)="login($event)">
          Sign in
        </app-action-button>
        <small class="d-block mb-3">
          <a routerLink="/login">Forgot password</a>
        </small>
      </div>
    </div>
  </form>
</div>
