<form [formGroup]="textForm">
  <input
    *ngIf="includeTitle"
    type="text"
    class="form-control"
    [placeholder]="titlePlaceholder"
    formControlName="title"
  />
  <textarea
    class="form-control"
    [placeholder]="placeholder"
    formControlName="content"
    [maxlength]="maxLength"
    [ngStyle]="{
      'border-top-left-radius': includeTitle ? 0 : '0.25rem',
      'border-top-right-radius': includeTitle ? 0 : '0.25rem'
    }"
    >{{ textForm.get("content").value }}
</textarea
  >
  <span
    class="pt-1 mb-2 d-block text-right small"
    [ngClass]="{
      'text-muted': textForm.get('content').value.length < maxLength * 0.8,
      'text-danger': textForm.get('content').value.length >= maxLength * 0.8
    }"
  >
    {{ textForm.get("content").value.length }}/{{ maxLength }}
  </span>
  <div *ngIf="includeUpload" class="mt-2 mb-3">
    <app-upload>Upload Attachments</app-upload>
  </div>
  <app-action-button [disabled]="textForm.invalid">{{
    buttonText
  }}</app-action-button>
</form>
