.form-control {
  &:focus {
    box-shadow: none;
    border-color: #ced4da;
  }
}

textarea {
  height: 7rem;
  min-height: 6rem;
  resize: vertical;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[type="text"] {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
