<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-3">Create an Announcement</h6>
  <div class="row">
    <div class="col-md-8 col-lg-6">
      <app-text-form [maxLength]="180"></app-text-form>
    </div>
  </div>
</div>
<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-3">Previous Announcements</h6>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <caption class="small text-right">
        Previous 5 Announcements
      </caption>
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Status</th>
          <th class="d-none d-sm-table-cell" scope="col">Author</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let announcement of announcements">
          <td>{{ announcement.title | titlecase }}</td>
          <td>
            <span
              class="badge"
              [ngClass]="{
                'badge-success': announcement.status === 'Active',
                'badge-danger': announcement.status === 'Cleared',
                'badge-secondary': !announcement.status
              }"
              >{{ announcement.status || "Inactive" }}</span
            >
          </td>
          <td class="d-none d-sm-table-cell">
            {{ announcement.author.firstName | titlecase }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-3">
    Clear Current Announcement
  </h6>
  <div class="row">
    <div class="col-md-6">
      <app-action-button type="danger" (perform)="clearCurrentAnnouncement()">
        Clear Current Announcement
      </app-action-button>
    </div>
  </div>
</div>
