<footer>
  <div class="container pt-3 border-top border-gray">
    <div class="row">
      <div class="col-md-6">
        <a routerLink="/login">Staff Login</a>
      </div>
      <div class="col-md-6 text-center text-md-right">
        <a href="https://hartford.edu" target="_blank">
          <i class="fas fa-university"></i>
        </a>
        <a
          href="https://www.facebook.com/aerieliteraryjournal/"
          target="_blank"
        >
          <i class="fab fa-facebook-square pl-2"></i>
        </a>
        <a href="https://github.com/marchsabino/aerie-journal" target="_blank">
          <i class="fab fa-github-square a-facebook-square pl-2"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
