<app-header></app-header>
<div class="announcement">
  <div class="container">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Aerie Open Mic Event!</strong>
      <p>
        Read poems, short stories, any of your work! Sing, play guitar, free
        style, do stand up! The microphone is yours. October 30th, 7:00 PM.
        Auerbach Hall
      </p>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
