.dropzone {
  width: 100%;
  min-height: 4rem;
  padding: 1rem;
  text-align: center;
  border: 1px dashed rgb(160, 160, 160);
  box-sizing: border-box;

  h1 {
    margin-bottom: 0.75rem;
    font-size: 1rem;
  }

  &.fileover {
    border: 1px dashed rgb(51, 121, 34);
    background: rgb(243, 255, 243);
  }
}
