<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Aerie Journal</a>
  <button class="btn submission-btn ml-auto mr-3 d-inline-block d-md-none">
    Submit Work
  </button>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
      <div class="d-block d-md-none pt-2">
        <app-user-block [user]="currentUser" theme="light"></app-user-block>
      </div>
      <a
        class="nav-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a
        *ngIf="currentUser"
        class="nav-link"
        routerLink="/control-panel"
        routerLinkActive="active"
      >
        Control Panel
      </a>
      <a class="nav-link" routerLink="/archives" routerLinkActive="active">
        Archives
      </a>
      <a class="nav-link" routerLink="/history" routerLinkActive="active">
        History
      </a>
      <a class="nav-link" routerLink="/staff" routerLinkActive="active">
        Staff
      </a>
      <a
        *ngIf="currentUser"
        class="nav-link d-none d-md-block"
        (click)="logout()"
      >
        Logout
      </a>
      <div
        *ngIf="currentUser"
        class="border-top border-secondary mt-3 pt-2 pb-2 d-block d-md-none"
      >
        <a class="nav-link" (click)="logout()">
          Logout
        </a>
      </div>
    </div>
  </div>
  <div class="navbar-nav mr-auto d-none d-md-block">
    <button class="btn submission-btn ml-auto d-none d-md-inline-block">
      Submit Work
    </button>
  </div>
</nav>
<ng-container *ngIf="showHeader; else showScrollingNav">
  <header class="text-center text-md-left">
    <div class="container">
      <h1>Aerie Journal</h1>
      <span class="caption">
        The University of Hartford's Literary Magazine
        <span class="todays-date d-none d-md-inline">
          | {{ today | date: "MMMM dd, yyyy" }}
        </span>
      </span>
    </div>
  </header>
</ng-container>

<ng-template #showScrollingNav>
  <div class="nav-scroller bg-white shadow-sm">
    <nav class="nav navbar-light nav-underline">
      <a
        class="nav-link"
        routerLink="/control-panel/dashboard"
        routerLinkActive="active"
      >
        Dashboard
      </a>
      <a
        class="nav-link"
        routerLink="/control-panel/forums"
        routerLinkActive="active"
      >
        Forums
      </a>
      <a
        class="nav-link"
        routerLink="/control-panel/announcements"
        routerLinkActive="active"
      >
        Announcements
      </a>
      <a
        class="nav-link"
        routerLink="/control-panel/members"
        routerLinkActive="active"
      >
        Members
      </a>
      <a
        *ngIf="currentUser.privilege >= 2"
        class="nav-link"
        routerLink="/control-panel/archives"
        routerLinkActive="active"
      >
        Archives
      </a>
      <a
        class="nav-link"
        routerLink="/control-panel/settings"
        routerLinkActive="active"
      >
        Settings
      </a>
    </nav>
  </div>
</ng-template>
