$submission-btn-color-dark: #b8b8b8;
$submission-btn-color-light: #111;
$header-bg: rgb(58, 84, 119);

nav {
  a:focus,
  a:hover {
    cursor: pointer;
    outline: 0;
  }

  .navbar-brand {
    font-weight: 700;
  }

  img {
    margin-top: 0.25rem;
    margin-right: 0.5rem;
    height: 32px;
    width: 32px;
  }

  button.navbar-toggler {
    padding: 0;
    border: 0;

    &:focus,
    &:active {
      outline: 0;
    }
  }

  &.navbar-light {
    button.submission-btn {
      padding: 0.15rem 1rem;
      color: $submission-btn-color-light;
      border: 1px solid $submission-btn-color-light;

      &:hover {
        color: $submission-btn-color-dark;
        background: $submission-btn-color-light;
        border: 1px solid $submission-btn-color-light;
      }
    }

    button.navbar-toggler {
      font-size: 1.4rem;
      transition: color 0.25s ease;
      border-radius: 0;
      color: rgba(0, 0, 0, 0.7);

      &:hover {
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }

  &.navbar-dark {
    button.submission-btn {
      padding: 0.15rem 1rem;
      color: $submission-btn-color-dark;
      border: 1px solid $submission-btn-color-dark;

      &:hover {
        color: black;
        background: white;
        border: 1px solid white;
      }
    }

    button.navbar-toggler {
      font-size: 1.4rem;
      transition: color 0.25s ease;
      border-radius: 0;
      color: rgba(255, 255, 255, 0.5);

      &:hover {
        color: rgba(255, 2555, 255, 0.75);
      }
    }
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 12rem;
  width: 100%;
  color: white;
  background: $header-bg;
  box-sizing: border-box;

  h1 {
    padding-bottom: 0rem;
    margin-bottom: 0.25rem;
  }

  span.caption {
    font-size: 0.9rem;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;

    &.shadow-sm {
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    }
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  overflow-y: hidden;

  .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0.25rem 0 0 0;
    overflow-x: auto;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .nav-underline {
    .nav-link {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      font-size: 0.875rem;
      color: #6c757d;

      &:hover {
        color: #343a40;
      }
    }

    .active {
      font-weight: 500;
      color: #343a40;
    }
  }
}
