<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Aerie Journal</a>
  <button class="btn submission-btn ml-auto mr-3 d-inline-block d-md-none">
    Submit Work
  </button>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
      <div
        *ngIf="currentUser"
        class="d-block d-md-none border-bottom border-secondary pt-2 pb-3 mb-3"
      >
        <img
          class="float-left rounded d-block"
          [src]="currentUser.profileImage?.content"
        />
        <div class="float-left d-block">
          <strong class="text-light">
            {{ currentUser.firstName | titlecase }}
            {{ currentUser.lastName | titlecase }}
          </strong>
          <br />
          <span class="badge badge-primary">{{
            currentUser.privilege | privilege
          }}</span>
          <span class="badge badge-secondary ml-1">{{
            currentUser.position | titlecase
          }}</span>
        </div>
      </div>
      <a
        class="nav-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a
        *ngIf="currentUser"
        class="nav-link"
        routerLink="/staff"
        routerLinkActive="active"
      >
        Control Panel
      </a>
      <a class="nav-link" routerLink="/archives" routerLinkActive="active">
        Archives
      </a>
      <a class="nav-link" routerLink="/history" routerLinkActive="active">
        History
      </a>
      <a class="nav-link" routerLink="/staff" routerLinkActive="active">
        Staff
      </a>
      <div
        *ngIf="currentUser"
        class="border-top border-secondary mt-3 pt-2 pb-2 d-block d-md-none"
      >
        <a class="nav-link" (click)="logout()">
          Logout
        </a>
      </div>
    </div>
  </div>
  <div class="navbar-nav mr-auto d-none d-md-block">
    <button class="btn submission-btn ml-auto d-none d-md-inline-block">
      Submit Work
    </button>
  </div>
</nav>
<header class="text-center text-md-left">
  <div class="container">
    <h1>Aerie Journal</h1>
    <span class="caption">
      The University of Hartford's Literary Magazine
      <span class="todays-date d-none d-md-inline">
        | {{ today | date: "MMMM dd, yyyy" }}
      </span>
    </span>
  </div>
</header>
