<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-3">Our History</h6>
  <p>
    For more than thirty years, the University of Hartford's student writers
    have sought ways to share their talents with the community. As early as the
    1970's, faculty members and students from the University's English
    Department collaborated to showcase student writing. Preliminary attempts
    ranged from individual student productions to informal Bohemian
    collaborations.
  </p>
  <p>
    Around 1972, the University of Hartford published a small literary journal
    known as The Hog River Review. This publication, which lasted for a few
    years in the 1970's, provided writers with the opportunity to demonstrate
    their ability to compose works of fiction, poetry, critical essays, and
    other literary genres. The Hog River Review was funded through generous
    donations, but the look and style of the magazine did not do its content
    justice. With sketched cover art and photocopied production, The Hog River
    Review looked more like a pamphlet than a literary journal. Still, those who
    saw the potential within this early publication made The Hog River Review a
    crucial part of University of Hartford's English Department history.
  </p>
  <p>
    The 1980's and early 1990's brought on an explosion of literary work from
    the undergraduates at the University. Due to the continued lack of a formal
    magazine, writers from across the University of Hartford campus created
    various publications, large and small. Faculty members met with students as
    an extracurricular activity rather than as a course or a club. Literary
    magazines were something of an underground operation, a hobby. Pre-Aerie
    publications included: From the Workshop, a product of Friday afternoon
    get-togethers; Explorations, composed exclusively of freshman literary
    accomplishments; and Conception, a creation of the English Department's
    Honor's Society: Sigma Tau Delta.
  </p>
  <p>
    When Aerie was first introduced to the University in 1996, it served as a
    venue for the English Department to publish winning pieces from the
    Department's annual writing contest. This new literary magazine was run
    exclusively by faculty.
  </p>
</div>
