<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Recent Announcements</h6>
  <ng-container *ngIf="!announcements; else showAnnouncements">
    <div class="media text-muted pt-3">
      There are currently no announcements...
    </div>
  </ng-container>
  <ng-template #showAnnouncements>
    <ng-container *ngFor="let announcement of filteredAnnouncements">
      <div class="media pt-3">
        <div class="mr-2">
          <app-profile-image [user]="announcement.author"></app-profile-image>
        </div>
        <div class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">
            {{ announcement.title | titlecase }}
          </strong>
          <div [innerHtml]="announcement.content"></div>
        </div>
      </div>
    </ng-container>
    <small class="d-block text-right mt-3">
      <a routerLink="/">All announcements</a>
    </small>
  </ng-template>
</div>
